<html ng-app="app">

<head>
    <title></title>
    <link rel="stylesheet" href="css/app.css" type="text/css" />

    <style type="text/css">

    </style>

</head>

<body ng-controller="PartnersCtrl as partners" ng-init="parentIndex = $index">


    <div class="row">
        <ul class="small-3 columns">
             <!--{{partners.countryList}}-->
            <li class="" >
               
                
                
                
                <select name="country" id="" ng-model="selectedCountry">
                    <option ng-repeat="country in partners.countryList" value="{{country}}">{{country}}</option>
                    
                </select>
            </li>
        </ul>

        <ul class="small-9 columns">
            <li class="panel" ng-repeat="partner in partners.data | filter: selectedCountry">
                <strong>Partner Name:</strong> {{partner.name}}

                <ul>
                    Countries of Opporation:
                    <li ng-repeat="country in partner.countries">
                        {{ country.name }}
                    </li>
                </ul>
            </li>
        </ul>



    </div>




    <!--{{partner.data}}-->








</body>

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="components/foundation/js/foundation.min.js"></script>
<script type="text/javascript" src="components/angular/angular.js"></script>
<script type="text/javascript" src="js/lodash/lodash.js"></script>
<script type="text/javascript" src="js/app.js"></script>
</html>